name: Print

on:
  push:

jobs:
  print:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Print message
        run: echo "App Name: hello"
